
/*FUENTE DE TEXTO*/

@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');



body{
    margin: 0;
    font-family: 'Koulen', cursive;
}

a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
/*____________________________________________*/


header{
    background-color: rgb(0, 0, 0);
    display: flex; /*se levanta el texto de las etiquetas a del nav*/
    justify-content: space-between; /*acomoda los elementos a la derecha*/
    height: 60px;
    align-items: center;
    padding: 20px;
    border-style: solid;
    border-color: white;
    border-width: 15px;
    border-top: none;
    border-left: none;
    border-right: none;
}


.logo{
    display: flex;
    height: 90px;
}

nav a:hover{
    color: rgb(247, 252, 0);
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }
}
/*___________________________________________________________*/

main{
    background-color: rgba(228, 225, 225, 0.904);
}

.banner {
    background-image: url(../images/bannervol1.jpg);
    padding: 300px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}



.div-2 {
    display: flex;
    justify-content: space-between;
    height: 400px;
    padding: 20px;
    align-items: center;
    background-color: rgb(245, 243, 241);
}
.producto-1{
    max-width: 220px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-flow: column;
    border-radius: 6px;
    box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.2);
    background-color: white;
    cursor: pointer;
    transition-property: box-shadow;
    transition-duration: 0,3s;
}

.producto-1:hover {
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.2); 
}

.producto-1 > img {
    width: 90%;
    object-fit: cover;
}

.informacion{
    border-top: 1px solid rgb(230, 230, 230);
    padding: 0.5em;
    display: flex;
    flex-flow: column;
    margin-bottom: 1em;
}

.tipo-envio{
    background-color: rgb(6, 135, 255);
    color: white;
}

.precio{
    font-size: 1.5em;   
}

.precio-envio{
    color: rgb(32, 175, 80);
}

.calificacion, .ubicacion{
    transition-duration: 0.3s;
    transition-property: opacity;
    opacity: 0;
}

.producto:hover .calificacion, .producto:hover .ubicacion{
    opacity: 1;
}
/*____________________________________________________________*/
footer{
    background-color: rgb(112, 58, 211);
    padding: 30px;
    color: white;
    font-size: 30px;
    text-align: center;
}

/*_____________________________________________________________*/