
/*FUENTE DE TEXTO*/

@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

body{
    font-family: 'Koulen', cursive;
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
/*____________________________________________*/


header{
    background-color: rgb(0, 0, 0);
    display: flex; /*se levanta el texto de las etiquetas a del nav*/
    justify-content: space-between; /*acomoda los elementos a la derecha*/
    height: 60px;
    align-items: center;
    padding: 20px;
    border-style: solid;
    border-color: white;
    border-width: 15px;
    border-top: none;
    border-left: none;
    border-right: none;
}


.logo{
    display: flex;
    height: 90px;
}

nav a:hover{
    color: rgb(247, 252, 0);
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }
}
/*___________________________________________________________*/

main{
    background-color: rgba(129, 81, 241, 0.904);
}

.banner {
    background-image: url(../images/bannervol1.jpg);
    padding: 300px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.div-2{

}

.section-1{
    background-color: rgb(223, 223, 223);
    padding: 20px;
}

main div :nth-child(1) section img
{
    height: 200px;
}

/*____________________________________________________________*/
footer{
    background-color: rgb(112, 58, 211);
    padding: 30px;
    color: white;
    font-size: 30px;
    text-align: center;
}

/*_____________________________________________________________*/